<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<!--<head lang="en">-->
    <!--<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>-->
    <!--<link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"-->
          <!--th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}"-->
          <!--rel="stylesheet" media="screen"/>-->

    <!--<script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"-->
            <!--th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>-->

    <!--<link href="../../static/css/guru.css"-->
          <!--th:href="@{css/guru.css}" rel="stylesheet" media="screen"/>-->
<!--</head>-->
<!--<body>-->

<!--<div class="container">-->
    <!--<div th:fragment="header">-->
        <!--<nav class="navbar navbar-default">-->
            <!--<div class="container-fluid">-->
                <!--<div class="navbar-header">-->
                    <!--<a class="navbar-brand" href="#" th:href="@{/}">Home</a>-->
                    <!--<ul class="nav navbar-nav">-->
                        <!--<li><a href="#" th:href="@{/port}">Check ports</a></li>-->
                        <!--&lt;!&ndash;<li><a href="#" th:href="@{/port/new}">Add port to catalog</a></li>&ndash;&gt;-->
                    <!--</ul>-->

                <!--</div>-->
            <!--</div>-->
        <!--</nav>-->

        <!--<div class="jumbotron">-->
            <!--<div class="row text-center">-->
                <!--<div class="">-->
                    <!--<h2>Port Scanner</h2>-->

                    <!--<h3>and catalog service</h3>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="row text-center">-->
                <!--&lt;!&ndash;<img src="../../static/images/NewBannerBOOTS_2.png" width="400"&ndash;&gt;-->
                     <!--&lt;!&ndash;th:src="@{/images/NewBannerBOOTS_2.png}"/>&ndash;&gt;-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
<!--</body>-->
<!--</html>-->