<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Port Scanner</title>

    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->

    <h2>Catalog</h2>
        <div>
            <form class="form-horizontal">
                <div class="form-group">
                    <label class="col-sm-2 control-label">Port Id:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" th:text="${port.id}">Port Id</p></div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Port Number:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" th:text="${port.portNum}">Port Number</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Name:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" th:text="${port.name}">Name</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Description:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" th:text="${port.description}">Description</p>
                    </div>
                </div>
            </form>
    </div>
</div>

</body>
</html>